.field-widget-layout--wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.field-widget-layout {
  box-sizing: border-box;
}

.field-widget-layout > * {
  margin: 5px !important;
}


@media (max-width: 960px) {
  .field-widget-layout {
    width: 100% !important;
  }
}
